
html, body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(196, 193, 189);
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

/* @font-face {
  ;
} */



/* FOR MOBILE DEVICES  */
@media screen and (max-width: 600px) {

  /* Top Menu bar  */
  #topbar {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-backface-visibility: hidden;
    list-style-type: none;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: rgba(22,22,22);
  }

  .navbar {
    display: inline-flex;
    float: left;
    padding: 2px 12px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  ul {
    align-items: center;
    justify-content: center;
  }
  .navbar a {
    text-decoration: none;
    color: rgb(224, 206, 154);
    /* align-items: center;
    justify-content: center; */
  }
  .navbar a:hover {
    text-decoration: none;
    color: rgb(235, 138, 59);
  }

  /* Index Page  */
  #splashpic {
    position: relative;
    width: 100%;
    margin: 0px;
    top: 40px;
  }

  /* Order Page  */
  #orderrightpic {
    display: none;
    /* width: 100%; */
  }
  #orderleftpic {
    width: 100%;
  }

}


/* FOR DESKTOP/LARGER RES DEVICES  */
@media screen and (min-width: 601px) {

  /* Top Menu bar  */
  #topbar {
    position: fixed;
    list-style-type: none;
    width: 100%;
    height: 60px;
    top: 0px;
    background-color: rgba(22,22,22, 0.644);
  }
  .navbar {
    display: inline-flex;
    float: right;
    padding: 2px 20px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .navbar a {
    text-decoration: none;
    color: rgb(224, 206, 154);
  }
  .navbar a:hover {
    text-decoration: none;
    color: rgb(235, 138, 59);
  }

  /* Order Page  */
  #twopics {
    display: inline-block;
  }
  .orderpics {
    width: 49.5%;
  }
  /* Index Page  */
  #splashpic {
    width: 100%;
    margin: 0px;
    top: 100px;
  }





}



/*Displaying the pictures on the menu page, NEED RWD? */
#week1 {
  width: 100%;
  padding: 15px;
  display: inline-flex;
  float: left;
  align-items: center;
  position: static;
}

#week2 {
  width: 100%;
  display: inline-flex;
  flex: right;
  align-items: center;
  position: static;
}

#week3 {
  width: 100%;
  padding: 15px;
  display: inline-flex;
  flex: right;
  align-items: center;
  position: static;
}

.menudescriptions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: rgb(107, 37, 37);
}




/* Middle of the page, to allow even spacing for footer*/
.content {
  flex: 1 0 auto;
  padding: 20px;
}


.indexheadfont {

}

/* Index page  */
.indexfont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}



/* Order Page  */
.quantity {
  font-size: 18px;
  height: 20px;
  width: 30px;
}
.textbox {
  width: 300px;
  height: 100px;
}
form label {
  font-size: 18px;
}
form .labelq {
  display: inline-block;
  float: left;
  clear: left;
  width: 120px;
}
label, input {
  margin: 5px;
}
#email {
  width: 300px;
  height: 30px;
  font-size: 16px;
}
#orderbutton {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 3px solid red;
  background-color: orange;
}



/* Menu Page  */
#item1 {
  float: left;
}




/* Footer bar  */
#foot {
  flex-shrink: 0;
  width: 100%;
  margin: auto;
  /* padding: 20px; */
  height: 250px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: blue;
  background-color: rgb(58, 58, 58);
}
.footfont {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(214, 153, 73);
}
#leftfoot {
  width: 30%;
  margin: 10px;
  height: 250px;
}
#centerfoot {
  width: 30%;
  margin: 10px;
  height: 250px;
}
#rightfoot {
  width: 30%;
  margin: 10px;
  height: 250px;
}