
{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <div class="desktopsplash">
      <img id="splashabout" src="{% static 'main/samplefoodbar2.png' %}" alt="Indonesian Food Picture">
    </div>

    <div class="mobilesplash">
      <img id="splashabout" src="{% static 'main/foodbarhalf.png' %}" alt="Indonesian Food Picture">
    </div>
    <!-- Put all STUFF in here -->
    <div class="content">
      <h2 class="indexheadfont">Who are we?</h2>
      <p> </p>  
      <p class="indexfont">As native Indonesians who grew up with a great appreciation for the cuisine
        of our culture, we developed a passion for cooking years ago. It was not until recently that we had
        the opportunity to truly explore what it would be like to cook and prepare this food and share it 
        with those who are close to us. Over time, word of mouth spread, and we upgraded our small 
        business so that we could provide more orders to those who wish to enjoy the wonderful
        cuisine of South Asia!
      </p>
      <p class="indexfont">We strive for the most authentic and true-to-culture product we can! However, if 
        anything is not to your liking, we welcome any feedback or suggestion!
      </p>
    
    </div>
    <!-- End of stuff  -->
{% endblock %}