
{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <img id="splashpic" src="{% static 'main/splash.jpg' %}" alt="Indonesian Food Picture">

    <!-- Put all STUFF in here -->
    <div class="content">
      <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p>    <p> text text</p> 
    
    
    
    </div>
    <!-- End of stuff  -->
{% endblock %}



