
{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <img id="splashpic" src="{% static 'main/splash.jpg' %}" alt="Indonesian Food Picture">

    <!-- Put all STUFF in here -->
    <div class="content">
      <h2 class="indexheadfont">Bringing genuine authentic Indonesian cuisine to Los Angeles!</h2>
      <p class="indexfont">On Thursdays, deliveries to West Hollywood blah blah blah</p>
      <p class="indexfont">On Fridays, deliveries to Pasadena, Asian town, I smell really good blah blah blah</p>
    
      <p class="indexfont">Here are just a few of our signature dishes...</p>
    
    </div>
    <!-- End of stuff  -->
{% endblock %}



