{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Toni's Authentic Indo</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <script src="{% static 'main/javascript.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>

  <body>
    <!-- Navigation bar -->
    <div id="topbar">
      <ul>
        <li class="navbar" ><a href="#foot" >Contact</a></li>
        <li class="navbar" ><a href="{% url 'about' %}" >About</a></li>
        <li class="navbar" ><a href="{% url 'order' %}" >Order</a></li>
        <li class="navbar" ><a href="{% url 'menu' %}" >Menu</a></li>
        <li class="navbar" ><a href="/" >Home</a></li>
      </ul>
    </div>

    {% block body %}

    {% endblock %}

    <div id="foot">
      <div id="leftfoot">
        <h3 class="footfont">Want to get in touch? DM us on social media!</h3>
        <p class="footfonttxt">Don't hesitate to ask anything! We usually respond immediately!</p>
        <p class="footfonttxt"><a target="_blank" href="http://www.instagram.com/tonifabulouskitchen"><img class="sociallogo" src="{% static 'main/insta.svg' %}"></a></p>
        <p class="footfonttxt"><a target="_blank" href="https://www.facebook.com/tonifabulouskitchen/"><img class="sociallogo" src="{% static 'main/fbma.png' %}"></a></p>
      </div>
      <div id="centerfoot">
        <h3 class="footfont">Tentative Schedule: </h3>
        <p class="footfonttxt"><strong>Place orders:</strong> Sunday/Monday</p>
        <p class="footfonttxt"><strong>Shopping and Prep:</strong> Tuesday/Wednesday</p>
        <p class="footfonttxt"><strong>Delivery Days:</strong> Thursday/Friday!</p>

        <p class="footfonttxt"></p>
      </div>
      <div id="rightfoot">
        <h3 class="footfont">We do custom orders!</h3>
        <p class="footfonttxt">Need a large party catered? Go to our Catering Options page!</p>
        <p class="footfonttxt"></p>
      </div>
    </div>


  </body>
</html>