
{% extends "main/layout.html" %}
{% load static %}

{% block body %}

  <!-- Put all STUFF in here -->
  <div class="content">
    <br><br>
    <h3>Special Selections for the week of October 11th-October 16th</h3>


    <!-- Special items at the top -->
    <div id="item1">
      <!-- Put image on left side, then put text next to it -->
      <img id="image1" src="{% static 'main/sampzoom.jpg' %}" width="100px">
      <button type="button" onclick="zoomin()">
        Zoomin
      </button>
      <button type="button" onclick="zoomout()">
        Zoomout
      </button>
    </div>

    <div id="item2">
      <!-- Put image on right side, then put text next to it -->
    </div>


    <!-- Rest of the items at the bottom -->


  
  </div>
  <!-- End of stuff  -->
{% endblock %}
