
{% extends "main/layout.html" %}
{% load static %}

{% block body %}
  <div id="twopics">
    <img id="orderleftpic" class="orderpics" src="{% static 'main/samplepic.jpg' %}">
    <img id="orderrightpic" class="orderpics" src="{% static 'main/samplepic.jpg' %}">
    <!-- LOAD A DIFFERENT HORIZONTAL PICTURE FOR MOBILE -->
  </div>

  <div class="content">
    <br><br><br>
    <h3> For information on large catering orders please <a href="#foot" >Contact Us</a>! We politely
      request at least one week's notice to prepare a large order and to check for product availability.
      We can typically do catering orders seven days a week!
      To see some sample catering packaging, visit our <a href="">Catering Orders</a> link.</h3>

      <p>
        Please select the item quantity of each and then enter your e-mail. You will be sent
      an invoice to submit a payment via Venmo or Cashapp. After payment has been received, your order will be confirmed! Please allow several hours for processing as we are a very small business and we are functioning manually! As soon as you receive a confirmation e-mail, usually within a few hours, you will be all set!
      </p>
      <p class="footfonttxt" style="color: rgb(139, 139, 30)"><strong>FREE delivery on all orders over 40$!</strong></p>

      <h2>Order Form: </h2>
      <form method="post">
        {% csrf_token %}

        <!-- Need if statements for EACH block, if exists, then print it -->


        <!-- //Iterate over the side dishes while they exist (avoid blank spaced item)  -->
        <h3>Small Plates</h3>
        <label for="namea" class="labelq">{{ nameA }}: </label>
          <input type="number" name="{{ namea }}" value="0" min="0" class="quantity">
          <p class="lblprice"> x $5.00 = </p><br>
        <label for="nameb" class="labelq">{{ nameB }}: </label>
          <input type="number" name="nameb" value="0" min="0" class="quantity">
          <p class="lblprice"> x $3.50</p><br>
        <label for="namec" class="labelq">{{ nameC }}: </label>
          <input type="number" name="namec" value="0" min="0" class="quantity">
          <p class="lblprice"> x $4.50</p><br>
        <label for="named" class="labelq">{{ nameD }}: </label>
          <input type="number" name="named" value="0" min="0" class="quantity">
          <p class="lblprice"> x $4.50</p><br>
        <label for="namee" class="labelq">{{ nameE }}: </label>
          <input type="number" name="namee" value="0" min="0" class="quantity">
          <p class="lblprice"> x $4.50</p><br>

        <h3>Combo Meals</h3>
        <label for="namef" class="labelq">{{ nameF }}: </label>
          <input type="number" name="personal" value="0" min="0" class="quantity">
          <p class="lblprice">x $12.00</p><br>
        <label for="nameg" class="labelq">{{ nameG }}: </label>
          <input type="number" name="family" value="0" min="0" class="quantity">
          <p class="lblprice">x $40.00</p><br>

        <h3>Add-ons</h3>
        <label for="nameh" class="labelq">{{ nameH }}: </label>
          <input type="number" name="personal" value="0" min="0" class="quantity">
          <p class="lblprice">x $12.00</p><br>
        <label for="namei" class="labelq">{{ nameI }}: </label>
          <input type="number" name="family" value="0" min="0" class="quantity">
          <p class="lblprice">x $40.00</p><br>
        <label for="namej" class="labelq">{{ nameJ }}: </label>
          <input type="number" name="personal" value="0" min="0" class="quantity">
          <p class="lblprice">x $12.00</p><br>
        <label for="namek" class="labelq">{{ nameK }}: </label>
          <input type="number" name="family" value="0" min="0" class="quantity">
          <p class="lblprice">x $40.00</p><br>

        <h3>Catering (Please <a href="#foot">Contact us</a> first!)</h3>
        

        <p style="font-weight:bold;font-size:18px;">Total: $ 0.00 </p>
        <br><br>
        <label for="extrainfo">Please discuss any allergies or dietary restrictions</label>
        <br>
        <p style="font-size: 14px;">Unfortunately, we cannot guarantee accommodation of all requests. <a href="#foot">Contacting us</a> first is preferable!</p>
        <textarea name="extrainfo" class="textbox" required></textarea>
        <br><br>
        <label for="address">Please enter your address. And please DOUBLE CHECK for correctness!</label>
        <br><br>
        <textarea name="address" class="textbox" required></textarea>
        <br><br>
        <label for="email">Please enter your e-mail</label>
        <br>
        <input type="email" id="email" name="email" required>

        <br>
        <h3>Payment information is provided in the e-mail! <br>
          Please include the order number in the Venmo/Cashapp subject line! <br>
          This makes processing your order much easier.</h3>

        <input type="submit" id="orderbutton" value="Place Order!">
      </form>
  </div>
{% endblock %}